CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
# 关闭多机型，只编译兆能M2
# CONFIG_TARGET_MULTI_PROFILE is not set
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y

## wifi配置（M2 512M内存专用）
CONFIG_ATH11K_MEM_PROFILE_512M=y

## 防火墙 & DHCP 核心（必须开启，插网自动分配IP）
CONFIG_PACKAGE_firewall=n
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_dnsmasq-full=y          # DHCP+DNS核心服务
CONFIG_PACKAGE_dnsmasq-utils=y
CONFIG_PACKAGE_luci-dnsmasq=y          # Luci DHCP管理界面

## 完整LuCI界面（必开，网页后台）
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-theme-bootstrap=y  # 默认主题

## 你保留的插件（去掉冲突，二选一passwall）
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-natmap=y


CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-proto-wireguard=y

## 基础组件
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_ip-full=y
